<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.sojourner.projectsidekick"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".ProjectSidekickApp" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".AppModeActivity"
            android:label="@string/title_app_mode">
        </activity>
        <activity 
            android:name=".AppModeConfigBeaconActivity"
            android:label="@string/title_app_mode_config_beacon">
        </activity>
        <activity 
            android:name=".AppModeBeaconMasterListActivity"
            android:label="@string/title_app_mode_beacon_master_list">
        </activity>
        <activity 
            android:name=".BeaconModeActivity"
            android:label="@string/title_beacon_mode">
        </activity>
        <receiver android:name=".ReportModeWakeReceiver"></receiver>
        <service android:name=".ProjectSidekickService"
                 android:process=".ProjectSidekickService">
            <intent-filter>
                <action android:name="net.sojourner.projectsidekick.action.WAKE_TO_REPORT" />
                <action android:name="net.sojourner.projectsidekick.action.CONNECTED" />
                <action android:name="net.sojourner.projectsidekick.action.REGISTERED" />
                <action android:name="net.sojourner.projectsidekick.action.UNREGISTERED" />
                <action android:name="net.sojourner.projectsidekick.action.UPDATE_LOST" />
                <action android:name="net.sojourner.projectsidekick.action.UPDATE_FOUND" />
                <action android:name="net.sojourner.projectsidekick.action.DATARECEIVED" />
                <action android:name="net.sojourner.projectsidekick.action.DISCONNECTED" />
            </intent-filter>
        </service>
    </application>

</manifest>
